html {
    border: 17px solid #B3B3B3;
    height: 96%;
    background-color: black;
}

.warhol1, .warhol2, .warhol3, .warhol4, .warhol5 {
    position: absolute;
    display: none;
}

p.one {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 50pt;
    color:white;
    position: absolute;
    top: 320px;
    left: 510px;
}

p.two {
    font-family: Helvetica, sans-serif, bold;
    font-size: 11pt;
    color: white;
    position: absolute;
    top: 520px;
    left: 650px;

}

mark {
    background-color: black;
}

.white {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.back {
    font-family: Helvetica, sans-serif, bold;
    font-size: 14pt;
    color:white;
    position: absolute;
    left: 75px;
    top: 65px;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}