html {
    border: 17px solid #B3B3B3;
    height: 96%;
    overflow: hidden;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --mainColor: black;
  }

a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color:white;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  a:hover {
    background-size: 20px 75px;
  }
  

p.one {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 60pt;
    color: black;
    position: absolute;
    top: 30px;
    left: 60px;
}

p.two {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 60pt;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 170px;
    left: 140px;
}

p.three {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 60pt;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 260px;
    left: 90px;
}

p.four {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 60pt;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 350px;
    left: 140px;
}

p.five {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 60pt;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 440px;
    left: 90px;
}

p.six {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 60pt;
    color: black;
    position: absolute;
    top: 580px;
    left: 880px;
}


b.fill {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}


.right {
    position: absolute;
    top: 700px;
    right: 50px;
}
