html {
    border: 17px solid #B3B3B3;
    height: 96%;
    background-color: black;
    overflow: hidden;
}

p.one {
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 40pt;
    color: white;
    position: absolute;
    top: 550px;
    left: 150px;
}

p.paragraph {
    font-family: Helvetica, bold;
    font-size: 24pt;
    color: white;
    position: absolute;
    left: 620px;
    top: 60px;
}


.form {
    font-family: Helvetica, sans-serif, bold;
    font-size: 14pt;
    color: black;
    position: absolute;
    right: 200px;
    bottom: 55px;
}

mark {
    background-color: white;;
}

.white {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.back {
    font-family: Helvetica, sans-serif, bold;
    font-size: 14pt;
    color: white;
    position: absolute;
    right: 75px;
    top: 65px;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.new-illusion{
    position:   absolute;
}


